{% extends  'basic.html' %}
{% load static %}

{% block title %}
   {{ pageTitle }}
{% endblock %}

{% block keywords %}
    {{ pageKeywords }}
{% endblock %}

{% block description %}
    {{ pageDescription }}
{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}



{% block content %}
    {% include 'header_index.html' %}
    <div class="main">
        <section class="quiz">
            <div class="section-header">
                <h3>Ответьте на несколько простых вопросов</h3>
                <p>Это даст возможность нам оценить ваше положение и помочь вам</p>
            </div>
            <div class="quiz-inner">
                <form action="{% url 'createQuiz' %}" method="post" onsubmit="return false;">{% csrf_token %}
                    <div class="quiz-inner-tabs">
                        <div class="tab">
                            <input type="radio"  id="tab1" name="tab-group" checked>
                            <label for="tab1" onclick="changeTab(1)" class="tab-title"><span>1</span></label>
                            <div class="tab-content">
                                <p>Обслуживались ли Вы ранее у сторонней бухгалтерии?</p>
                                <div class="tab-content-group">
                                    <input class="tab-content-group__radio-input" value="Да" name="tab1-q" id="q1" type="radio" >
                                    <label class="tab-content-group__radio-label" for="q1">Да</label>

                                </div><!--//tab-content-group-->
                                <div class="tab-content-group">
                                    <input class="tab-content-group__radio-input" value="Нет" name="tab1-q" id="q2" type="radio" >
                                    <label class="tab-content-group__radio-label" for="q2">Нет</label>

                                </div><!--//tab-content-group-->

                            </div>
                        </div><!--//tab-->
                        <div class="tab">
                            <input type="radio"  id="tab2" name="tab-group">
                            <label for="tab2" onclick="changeTab(2)" class="tab-title"><span>2</span></label>
                            <div class="tab-content">
                                <p>Количество штатных единиц?</p>
                                <div class="tab-content-group">
                                    <input class="tab-content-group__radio-input" value="До 10" name="tab2-q" id="q3" type="radio" >
                                    <label class="tab-content-group__radio-label" for="q3">До 10</label>

                                </div><!--//tab-content-group-->
                                <div class="tab-content-group">
                                    <input class="tab-content-group__radio-input" value="Свыше 10" name="tab2-q" id="q4" type="radio" >
                                    <label class="tab-content-group__radio-label" for="q4">Свыше 10</label>

                                </div><!--//tab-content-group-->

                            </div>
                        </div><!--//tab-->
                        <div class="tab">
                            <input type="radio"  id="tab3" name="tab-group">
                            <label for="tab3" onclick="changeTab(3)" class="tab-title"><span>3</span></label>
                            <div class="tab-content">
                                <p>Количество операций ?</p>
                                <div class="tab-content-group">
                                    <input class="tab-content-group__radio-input" value="До 15" name="tab3-q" id="q5" type="radio" >
                                    <label class="tab-content-group__radio-label" for="q5">До 15</label>

                                </div><!--//tab-content-group-->
                                <div class="tab-content-group">
                                    <input class="tab-content-group__radio-input" value="От 15 до 35" name="tab3-q" id="q6" type="radio" >
                                    <label class="tab-content-group__radio-label" for="q6">От 15 до 35</label>

                                </div><!--//tab-content-group-->
                                <div class="tab-content-group">
                                    <input class="tab-content-group__radio-input" value="От 35 до 55" name="tab3-q" id="q7" type="radio" >
                                    <label class="tab-content-group__radio-label" for="q7">От 35 до 55</label>

                                </div><!--//tab-content-group-->
                                <div class="tab-content-group">
                                    <input class="tab-content-group__radio-input" value="От 55 до 105" name="tab3-q" id="q8" type="radio" >
                                    <label class="tab-content-group__radio-label" for="q8">От 55 до 105</label>

                                </div><!--//tab-content-group-->
                            </div>

                        </div><!--//tab-->
                        <div class="tab">
                            <input type="radio"  id="tab4" name="tab-group">
                            <label for="tab4" onclick="changeTab(4)" class="tab-title"><span>4</span></label>
                            <div class="tab-content">
                                <p>Система налогообложения?</p>
                                <div class="tab-content-group">
                                    <input class="tab-content-group__radio-input" value="ОСНО" name="tab4-q" id="q9" type="radio" >
                                    <label class="tab-content-group__radio-label"  for="q9">ОСНО</label>

                                </div><!--//tab-content-group-->
                                <div class="tab-content-group">
                                    <input class="tab-content-group__radio-input" value="УСН" name="tab4-q" id="q10" type="radio" >
                                    <label class="tab-content-group__radio-label" for="q10">УСН</label>

                                </div><!--//tab-content-group-->
                                <div class="tab-content-group">
                                    <input class="tab-content-group__radio-input" value="ЕНВД" name="tab4-q" id="q11" type="radio" >
                                    <label class="tab-content-group__radio-label" for="q11">ЕНВД</label>

                                </div><!--//tab-content-group-->

                            </div>

                        </div><!--//tab-->
                        <div class="tab">
                            <input type="radio"  id="tab5" name="tab-group">
                            <label for="tab5" onclick="changeTab(5)" class="tab-title"><span>5</span></label>
                            <div class="tab-content">
                                <p>Количество контрагентов?</p>
                                <div class="tab-content-group">
                                    <input class="tab-content-group__radio-input" value="До 10" name="tab5-q" id="q12" type="radio" >
                                    <label class="tab-content-group__radio-label" for="q12">До 10</label>

                                </div><!--//tab-content-group-->
                                <div class="tab-content-group">
                                    <input class="tab-content-group__radio-input" value="От 10 до 30" name="tab5-q" id="q13" type="radio" >
                                    <label class="tab-content-group__radio-label" for="q13">От 10 до 30</label>

                                </div><!--//tab-content-group-->
                                <div class="tab-content-group">
                                    <input class="tab-content-group__radio-input" value="Свыше 30" name="tab5-q" id="q14" type="radio" >
                                    <label class="tab-content-group__radio-label" for="q14">Свыше 30</label>

                                </div><!--//tab-content-group-->
                            </div>

                        </div><!--//tab-->
                        <div class="tab">
                            <input type="radio"  id="tab6" name="tab-group">
                            <label for="tab6" onclick="changeTab(6)" class="tab-title"><span>6</span></label>
                            <div class="tab-content">
                                <div class="last-question">
                                    <p>Оставьте контактные данные</p>
                                    <input type="text" id="quiz_name"  placeholder="Как к Вам обращаться?">
                                    <input type="tel" id="quiz_phone"  class="masked-phone" placeholder="Ваш сотовый номер" data-phonemask="+7(___)___-__-__" />

                                    <button type="submit" onclick="sendQuiz()">Отправить</button>
                                </div>
                                <div class="success-message">
                                    <p>Спасибо, информация отправлена</p>
                                    <p>С вами свяжется наш специалист</p>
                                </div>

                            </div>

                        </div><!--//tab-->

                    </div>
                </form>

            </div>
            <div class="quiz-bottom">
                <div class="quiz-bottom-info">
                    <h3>Работаем на результат</h3>
                    <p>Абсолютно по любому вопросу проведём бесплатную квалифицированную консультацию</p>
                    <p>Никакой предоплаты, сначала мы оказываем все необходимые вам услуги, а только потом вы их оплачиваете</p>
                    <p>У нас нет очередей, мы не заставляем вас ждать, а берем ваш заказ и моментально приступаем к выполнению</p>
                    <p>Благодаря нам, вам не нужно держать бухгалтера в своем штате, мы в любой момент выполним тот же объем дешевле</p>
                </div>
                <div class="shadow-box">
                    <div id="form_content" class="shadow-box-inner">
                        <h5>Остались вопросы ?</h5>
                        <span>Мы перезвоним</span>

                        <input type="text" id="form_name" placeholder="Как к Вам обращаться?">
                        <input type="tel" id="form_phone"  class="masked-phone" placeholder="Ваш сотовый номер" data-phonemask="+7(___)___-__-__" />
                        <a   class="btn" onclick="sendForm('form')">Перезвоните мне</a>
                        <p>Нажимая на кнопку, в принимаете <a href="#">условия передачи данных</a></p>



                    </div>

                </div>

            </div><!--//quiz-bottom-->


        </section><!--//quiz-->
        <section class="container about">

            <h3>Как мы восстановили бухгалтерский и кадровый учёт за три года</h3>
            <div class="about-grid">
                <div class="shadow-box box-1" >
                    <div class="shadow-box-inner">
                        <h5>Что мы сделали</h5>
                        <p>Был проведен анализ первичных документов, созданы бухгалтерские проводки, подготовлены недостающие документы</p>
                        <p>Произведена оптимизация налоговой нагрузки. Сдана в установленные сроки отчётность</p>
                        <p>А также была произведена своевременная уплата налогов и сборов в ФНС, ФСС</p>
                    </div>
                </div><!--//shadow-box-->
                <div class="shadow-box box-2" >
                    <div class="shadow-box-inner">
                        <h5>Результат</h5>
                        <p>Исключили риски штрафных санкций в отчетном периоде</p>
                        <p>Проведенный комплекс мероприятий благоприятно повлиял на репутацию фирмы</p>
                    </div>
                </div><!--//shadow-box-->
            </div><!--//about-grid-->
            <div class="about-big-image hidden-mobile">
                <img src="{% static 'img/about-big-image.png' %}" alt="">
            </div>
        </section><!--//about-->
    </div>




{% endblock %}

{% block js %}
    {{ block.super }}
    <script>

        let labels = document.getElementsByClassName('tab-content-group__radio-label'),
            inputs =  document.getElementsByClassName('tab-content-group__radio-input'),

        cur_tab = 1

        for (x of labels){
            x.addEventListener('click',function () {
                changeTab()
            })
        }
        function changeTab(id) {
            if (id){
                cur_tab = id
            }else{
                document.getElementById(`tab${cur_tab}`).checked = false
                cur_tab +=1
                document.getElementById(`tab${cur_tab}`).checked = true

            }
        }




    </script>
{% endblock %}