{% extends  'basic.html' %}
{% load static %}

{% block title %}
   {{ pageTitle }}
{% endblock %}

{% block keywords %}
    {{ pageKeywords }}
{% endblock %}

{% block description %}
    {{ pageDescription }}
{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}



{% block content %}
    {% include 'header.html' %}
    <div class="main">
    <div class="container">
        <div class="breadcrumbs">
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li class="active">Все услуги</li>
            </ul>
        </div>
    </div><!--// breadcrumbs-->

    <section class="blog">
        <div class="container">
            <h1>Все услуги</h1>
            <div class="blog-posts-wrapper">
                {% for service in allServices %}
                <div class="blog-post-item">
                    <a href="{% url 'service' service.name_slug %}">
                        {% if service.image %}
                            <img class="mb30" src="{{ service.image.url }}" alt="{{ service.name}}">
                            {% else %}
                           <img class="mb30" src="https://dummyimage.com/360x250/000/fff" alt="">
                        {% endif %}

                    </a>
                    <h5 class="mb20"><a href="{% url 'service' service.name_slug %}">{{ service.name }}</a></h5>
                </div><!--// blog-post-item-->
                {% endfor %}



            </div><!--// blog-posts-wrapper-->
        </div>


    </section><!--// blog-->
</div><!-- // main -->
{% endblock %}

{% block js %}

    {{ block.super }}



{% endblock %}
