{% extends  'basic.html' %}
{% load static %}

{% block title %}
    {{ block.super }} - Статья
{% endblock %}

{% block keywords %}
    {{ block.super }}
{% endblock %}

{% block description %}
    {{ block.super }}
{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}



{% block content %}
    {% include 'header.html' %}
<div class="main">
     <div class="container">
        <div class="breadcrumbs">
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li class="active">Услуги</li>
            </ul>
        </div>
    </div><!--// breadcrumbs-->
    <section class="about-us">
        <div class="container about-us-inner">
           <h1>О нас</h1>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aperiam, blanditiis deserunt, eaque eos excepturi illo incidunt iste laboriosam neque officia quae quaerat repudiandae sapiente similique, sit ullam vitae!</span><span>Delectus ea modi, omnis perspiciatis quos rem repudiandae sequi. Architecto aut, beatae commodi, consequuntur cum error exercitationem facere ipsum laborum non, odit porro provident reprehenderit vel velit! Dolorem, similique suscipit!</span><span>Corporis, cum eaque est fuga fugiat ipsa maiores minima quos similique unde? Dolores eligendi et mollitia nobis porro sed voluptates voluptatum! Consequatur culpa, ex facere necessitatibus nostrum pariatur quod voluptatem.</span></p>
        </div>
    </section><!--//about-us-->
    <section class="service-prices">
        <div class="container-sm service-prices-inner">
            <div class="service-prices-inner-big-block">
                <h5>Наименование</h5>
                <p>Бухгалтерское сопровождение</p>
                 <p>Бухгалтерское сопровождение</p>

            </div>
            <div class="service-prices-inner-small-block">
                <h5>Цена</h5>
                <p>от 8000 руб/месяц</p>
                <p>от 8000 руб/месяц</p>
            </div>

        </div>
    </section><!--//service-prices-->
    <section class="service-feature">
        <div class="container-sm service-feature-items">
            <div class="service-feature-item">
                <div class="service-feature-item-number">
                    <p style="padding: 25px 20px !important;">1</p>
                </div>
                <div class="service-feature-item-info">
                   <h5>безопасность</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ipsam magnam optio.</p>
                </div>
            </div><!--//service-feature-item-->
             <div class="service-feature-item">
                <div class="service-feature-item-number">
                    <p>2</p>
                </div>
                <div class="service-feature-item-info">
                   <h5>безопасность</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ipsam magnam optio.</p>
                </div>
            </div><!--//service-feature-item-->
             <div class="service-feature-item">
                <div class="service-feature-item-number">
                    <p>3</p>
                </div>
                <div class="service-feature-item-info">
                   <h5>безопасность</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ipsam magnam optio.</p>
                </div>
            </div><!--//service-feature-item-->
             <div class="service-feature-item">
                <div class="service-feature-item-number">
                    <p>4</p>
                </div>
                <div class="service-feature-item-info">
                   <h5>безопасность</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ipsam magnam optio.</p>
                </div>
            </div><!--//service-feature-item-->
        </div>

    </section><!--//service-features-->
    <section class="reviews container-sm">
         <div class="slider" id="slider" >
        <div class="slider-item">
            <img src="https://dummyimage.com/400x340/000/fff" alt="">
            <div class="slider-item-info">
                <h5>имя фамилия</h5>
                <span>Предприниматель</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem expedita optio quia sit unde. A aperiam at, consequatur dolores eius fuga ipsam iste magnam maiores molestiae, molestias, nisi porro possimus quae tenetur unde vitae. Assumenda eius eveniet expedita incidunt laudantium nemo non perspiciatis, placeat, quae quis recusandae rerum sed voluptatibus!</p>



            </div>

        </div>


    </div>

    </section>


    <section class="callback-form">
           <div class="quiz-bottom">
            <div class="quiz-bottom-info">
                <h3>Работаем на результат</h3>
                <p>Абсолютно по любому вопросу проведём бесплатную квалифицированную консультацию</p>
                <p>Никакой предоплаты, сначала мы оказываем все необходимые вам услуги, а только потом вы их оплачиваете</p>
                <p>У нас нет очередей, мы не заставляем вас ждать, а берем ваш заказ и моментально приступаем к выполнению</p>
                <p>Благодаря нам, вам не нужно держать бухгалтера в своем штате, мы в любой момент выполним тот же объем дешевле</p>
            </div>
           <div class="shadow-box">
                    <div id="form_content" class="shadow-box-inner">
                        <h5>Остались вопросы ?</h5>
                        <span>Мы перезвоним</span>

                        <input type="text" id="form_name" placeholder="Как к Вам обращаться?">
                        <input type="tel" id="form_phone"  class="masked-phone" placeholder="Ваш сотовый номер" data-phonemask="+7(___)___-__-__" />
                        <a   class="btn" onclick="sendForm('form')">Перезвоните мне</a>
                        <p>Нажимая на кнопку, в принимаете <a href="#">условия передачи данных</a></p>
                    </div>
                </div>

        </div><!--//quiz-bottom-->
    </section><!--//callback-form-->
</div><!--//main-->
{% endblock %}

{% block js %}

    {{ block.super }}



{% endblock %}
