*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
menu {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li,
menu li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: url("../font/MuseoSansCyrl-300.eot");
  src: local("MuseoSansCyrl-300"), local("MuseoSansCyrl-300"), url("../font/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../font/MuseoSansCyrl-300.woff") format("woff"), url("../font/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSansCyrl-900';
  src: url("../font/MuseoSansCyrl-900.eot");
  src: local("MuseoSansCyrl-900"), local("MuseoSansCyrl-900"), url("../font/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../font/MuseoSansCyrl-900.woff") format("woff"), url("../font/MuseoSansCyrl-900.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Regular';
  src: url("../font/GothamPro.eot");
  src: local("GothamPro"), local("GothamPro"), url("../font/GothamPro.eot?#iefix") format("embedded-opentype"), url("../font/GothamPro.woff") format("woff"), url("../font/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url("../font/GothamPro-Bold.eot");
  src: local("GothamPro-Bold"), local("GothamPro-Bold"), url("../font/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../font/GothamPro-Bold.woff") format("woff"), url("../font/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Light';
  src: url("../font/GothamPro-Light.eot");
  src: local("GothamPro-Light"), local("GothamPro-Light"), url("../font/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../font/GothamPro-Light.woff") format("woff"), url("../font/GothamPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url("../font/GothamPro-Medium.eot");
  src: local("GothamPro-Medium"), local("GothamPro-Medium"), url("../font/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../font/GothamPro-Medium.woff") format("woff"), url("../font/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn,
button {
  border: none;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  text-shadow: 0 1px 0 #174da4;
  color: #ffffff;
  font-family: "Gotham Regular", sans-serif;
  font-size: 16px;
  letter-spacing: 0.32px;
  -webkit-box-shadow: inset 0 0 13px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 13px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#63aded), to(#4982dd));
  background-image: -o-linear-gradient(top, #63aded 0%, #4982dd 100%);
  background-image: linear-gradient(to bottom, #63aded 0%, #4982dd 100%);
}

.btn:focus,
button:focus {
  outline-width: 0;
}

.btn:hover,
button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4982dd), to(#63aded));
  background-image: -o-linear-gradient(top, #4982dd 0%, #63aded 100%);
  background-image: linear-gradient(to bottom, #4982dd 0%, #63aded 100%);
}

.section-header {
  text-align: center;
}

.section-header h3 {
  color: #1f1f1f;
  font-family: "Gotham Medium", sans-serif;
  font-size: 48px;
}

.section-header p {
  color: #1f1f1f;
  font-family: "Gotham Regular", sans-serif;
  font-size: 24px;
}

.header {
  background: url(../img/header-bg.jpg);
  height: 760px;
  padding-top: 40px;
  margin-bottom: 170px;
}

.header-nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-logo p {
  max-width: 230px;
  margin-left: 20px;
  letter-spacing: 0.21px;
  line-height: 21px;
}

.header-logo span {
  width: 39px;
  height: 39px;
  border-radius: 5px;
  background-color: #ea413e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 26px;
}

.header-nav {
  min-width: 460px;
}

.header-nav__nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-nav__nav-wrapper li a {
  color: #000000;
}

.header-phone {
  background: #ffffff;
  border-radius: 5px;
  -webkit-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
  padding: 15px 30px;
}

.header-phone p {
  -webkit-transform: skewX(10deg);
  -ms-transform: skewX(10deg);
  transform: skewX(10deg);
}

.header-phone span {
  -webkit-transform: skewX(10deg);
  -ms-transform: skewX(10deg);
  transform: skewX(10deg);
}

.header-inner h1 {
  font-family: "Gotham Medium", sans-serif;
  font-size: 48px;
  color: #1f1f1f;
  margin-top: 100px;
  margin-bottom: 50px;
  max-width: 590px;
  line-height: 50px;
}

.header-inner h1 span {
  font-family: "Gotham Light", sans-serif;
}

.header-inner p {
  position: relative;
  color: #292929;
  font-family: "Gotham Light", sans-serif;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.32px;
  margin-left: 75px;
  max-width: 350px;
  margin-bottom: 60px;
}

.header-inner p:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 6px;
  -webkit-transform: skewX(-25deg) rotate(-89deg);
  -ms-transform: skewX(-25deg) rotate(-89deg);
  transform: skewX(-25deg) rotate(-89deg);
  left: -20px;
  background: #ea413e;
}

.header-inner a {
  margin-bottom: 100px;
  padding: 20px 50px;
  margin-left: 60px;
}

.header-inner .header-features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 360px));
  grid-gap: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-inner .header-feature {
  background: url(../img/feat.png) no-repeat;
  height: 170px;
  background-position-x: center;
  background-position-y: center;
  position: relative;
}

.header-inner .header-feature p {
  position: absolute;
  bottom: 40px;
  left: 50px;
  max-width: 80%;
  font-family: "Gotham Regular", sans-serif;
  color: #1f1f1f;
  font-size: 16px;
  margin: 0;
  line-height: 24px;
  letter-spacing: 0.24px;
}

.header-inner .header-feature p:before {
  content: none;
}

.header-inner .header-feature span {
  font-family: "Gotham Medium", sans-serif;
}

.quiz-inner {
  max-width: 950px;
  margin: 0 auto;
  border: 1px solid red;
}

.tabs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tab-title {
  display: inline-block;
}

.tab input[type="radio"] {
  display: none;
}

.tab-title {
  position: relative;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #cecece;
  border-radius: 50%;
}

.tab-title span {
  position: absolute;
  color: #cecece;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  bottom: 9px;
}

.tab-content {
  position: absolute;
  padding: 10px;
  left: 0;
  width: calc(100% - 20px);
  display: none;
}

.tab :checked + .tab-title {
  position: relative;
  width: 40px;
  height: 40px;
  background: #ea413e;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.tab :checked + .tab-title::after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #ea413e;
  bottom: -4px;
  left: -4px;
}

.tab :checked + .tab-title span {
  position: absolute;
  color: #ffffff;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  bottom: 9px;
}

.tab :checked ~ .tab-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}