.header
  &.header-no-bg
    padding: 20px
    border-bottom: 1px solid $color-border
    margin-bottom: 50px

  &.header-with-bg
    background: url(../img/header-bg.jpg) no-repeat 50% 50%
    height: 760px
    padding-top: 40px
    margin-bottom: 170px
  &-nav-wrapper
    display: flex
    align-items: center
    justify-content: space-between



  &-logo
    display: flex
    align-items: center
    p
      font-family: $f-GR
      font-size: 14px
      color: $color-text-m-grey
      max-width: 230px
      margin-left: 20px
      letter-spacing: 0.21px
      line-height: 21px
    span
      width: 39px
      height: 39px
      border-radius: 5px
      background-color: $color-red
      display: flex
      align-items: center
      justify-content: center
      color: #fff
      font-family: 'MuseoSansCyrl-300',sans-serif
      font-size: 26px
  &-nav
    min-width: 460px
    &__nav-wrapper
      display: flex
      justify-content: space-between
      li
        a
          font-family: $f-GR
          font-size: 14px
          color: $color-l-blue
    & .mobile-active
      transform: translateX(0px)
      transition: all .3s
      li
        margin-bottom: 20px
        &:last-child
          margin-bottom: 0
        a
          font-size: 16px


  &-phone
    background: #ffffff
    border-radius: 5px
    transform: skewX(-10deg)
    padding: 15px 30px
    line-height: 20px
    p
      font-family: $f-GM
      font-size: 19px
      color: $color-text-d-grey
      transform: skewX(10deg)
      a
        margin-left: 5px
        font-family: $f-GR
        font-size: 14px
        color: $color-l-blue
        transform: skewX(10deg)
        border-bottom: 1px solid $color-border
        cursor: pointer

@media (max-width: 1000px)
  .header
    &-logo
      p
        display: none
    &-phone
      transform: none
      background: none
      p
        font-family: $f-GM
        font-size: 15px
        color: $color-text-d-grey
        transform: none
        a
          margin-left: 5px
          font-family: $f-GR
          font-size: 13px
          color: $color-l-blue
          transform: none
          border-bottom: 1px solid $color-border
          cursor: pointer

@media (max-width: 768px)
  .mobile-toggle
    display: block

  .header
    position: relative
    &.header-with-bg
      padding: 0
    &-nav
      min-width: 0
      position: absolute
      left: 0
      right: 0
      top: 70px
      &__nav-wrapper
        border-top: 1px solid $color-border
        background: #ffffff
        padding: 20px
        flex-direction: column
        transform: translateX(-10000px)
        transition: all .3s





//header inner
.header-inner
  h1
    font-family: $f-GM
    font-size: 48px
    color: $color-text-d-grey
    margin-top: 100px
    margin-bottom: 50px
    max-width: 590px
    line-height: 50px
    span
      font-family: $f-GL

  p
    position: relative
    color: $color-text-m-grey
    font-family: $f-GL
    font-size: 21px
    line-height: 32px
    letter-spacing: 0.32px
    margin-left: 75px
    max-width: 350px
    margin-bottom: 60px

    &:before
      content: ''
      position: absolute
      width: 20px
      height: 6px
      transform: skewX(-25deg) rotate(-89deg)
      left: -20px
      background: $color_red
  a
    margin-bottom: 100px
    padding: 20px 50px
    margin-left: 60px

  .header-features-grid
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(340px, 360px))
    grid-gap: 15px
    justify-content: center

  .header-feature
    background: url(../img/feat.png) no-repeat
    height: 170px
    background-position-x: center
    background-position-y: center
    position: relative
    p
      position: absolute
      bottom: 40px
      left: 50px
      max-width: 80%
      font-family: $f-GR
      color: $color-text-d-grey
      font-size: 16px
      margin: 0
      line-height: 24px
      letter-spacing: 0.24px
      &:before
        content: none
    span
      font-family: $f-GM


@media (max-width: 425px)
  .header
    &.header-no-bg
      padding: 0
    &.header-with-bg

      height: 550px
      padding-top: 0
      margin-bottom: 20px

  .header-inner
    h1
      font-size: 20px
      line-height: 25px
    a
      margin-bottom: 100px
      padding: 20px 40px
      margin-left: 0
    p
      margin-left: 0
      font-size: 16px
      &:before
        content: none

.mobile-toggle
  display: none
  width: 35px
  position: relative
  height: 3px
  background: $color-text-d-grey
  &::before
    position: absolute
    content: ''
    width: 30px
    height: 3px
    background: $color-text-d-grey
    top: -7px
    right: 0
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s
  &::after
    position: absolute
    background: $color-text-d-grey
    content: ''
    width: 35px
    height: 3px
    top: 7px
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s

.mobile-toggle.mobile-toggle-active
  background-color: transparent
  &::before
    width: 35px
    transform: rotate(45deg)
    top: 0
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s
  &::after
    transform: rotate(-45deg)
    top: 0
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s
