<header class="header header-no-bg">
    <div class="container header-nav-wrapper">
        <div class="header-logo">
            <span>К</span>
            <p>Более 10-ти лет ведём бух учёт самых разных компаний</p>

        </div>
        <div class="header-nav">
            <ul class="header-nav__nav-wrapper">
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'services' %}">Услуги</a></li>
                <li><a href="{% url 'allposts' %}">Полезные статьи</a></li>
                <li><a href="{% url 'about' %}">О компании</a></li>

            </ul>
        </div>

        <div class="header-phone">
            <p>8 800 999 99 99</p>
            <p><a onclick="toggleModal('callback-modal')">Перезвоните мне</a></p>
        </div>
        <div class="mobile-toggle"></div>
    </div><!-- // header-nav-wrapper -->
</header>