<header class="header header-with-bg">
    <div class="container header-nav-wrapper">
        <div class="header-logo">
            <span>К</span>
            <p>Более 10-ти лет ведём бух учёт самых разных компаний</p>

        </div>
        <div class="header-nav">
            <ul class="header-nav__nav-wrapper">
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'services' %}">Услуги</a></li>
                <li><a href="{% url 'allposts' %}">Полезные статьи</a></li>
                <li><a href="{% url 'about' %}">О компании</a></li>

            </ul>
        </div>

        <div class="header-phone">
            <p>8 800 999 99 99</p>
            <p><a onclick="toggleModal('callback-modal')">Перезвоните мне</a></p>
        </div>
    </div><!-- // header-nav-wrapper -->
    <div class="container  header-inner">

        <h1>Занимайтесь бизнесом, <span>а рутинную работу доверьте нам</span></h1>
        <p class="not-visible-sm">Спасём заблокированные счета и репутацию фирмы</p>

        <a onclick="toggleModal('callback-modal')" class="btn ">Получить бесплатную консультацию</a>

        <div class="header-features-grid">

            <div class="header-feature ">
                <div class="header-feature-inner">
                    <p><span>Мы — профессионалы</span> с высшим профильным образованием и стажем более 10 лет</p>
                </div>

            </div>


            <div class="header-feature ">
                <div class="header-feature-inner">
                    <p><span>Будем отстаивать</span> ваши интересы при общении с налоговой службой</p>
                </div>

            </div>
            <div class="header-feature ">
                <div class="header-feature-inner">
                    <p><span>Сами подсчитаем</span> ваши налоги, приготовим и сдадим отчетность точно и в срок</p>
                </div>

            </div>

        </div>
    </div><!-- // header-inner -->
</header>